node_modules
.env

# Hardhat files
/cache
/artifacts
/types

# TypeChain files
/typechain
/typechain-types

# IDE related files
.idea

# solidity-coverage files
/coverage
/coverage.json

.DS_Store
.history
.dccache
abis